body {
    background:linear-gradient(to left,#000000,#0f9b0f);
    color: white;
}

.eyes {
    background-image: url(Contenu/cateyes_header.jpg);
    background-size: cover;
    background-position: top;
    padding: 30px;
}

h1 {
    color: white;
    text-align: center; 
}

h2 {
    text-align: center;
    color: white;
}

p{
    text-align: justify;
}
.ma_classe {
    color: black;
}

.ma_classe_2 {
    color: deeppink;
}

.other {
    text-align: center;
}

img:hover {
    opacity: 0.5; 
}

.picture {
    display: flex;
    flex-direction: column;
}

.picturetwo {
    align-self: center;
}

a {
    font-size: 1em;
    text-decoration: none;
    color: white
}

a:active {
    text-decoration-color: #1d313f;
}

a:focus {
    background-color: #1d313f;
    color: white;
    outline-color: deeppink;
}

img:hover + h2 {
    color: deeppink;
}

.p2_anchor {
    text-align: center;
    text-decoration: underline;
}

.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

td {
    border: 1px solid white;
}

table {
    border-collapse: collapse;
}

@media screen and (max-width:1200px){
p {
    color: deeppink;
} 
}

@media screen and (max-width: 960px){
.conteneur {
    flex-direction: column;
}

img {
    display: none;
}

p {
    overflow: scroll;
}
}